<div class="col-md-12 col-lg-10 mx-auto">
    <div class="row">
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card text-center">
                <div class="card-body py-5">
                    <a href="#" class="nav-link" [routerLink]="['/admin/users']">مدیریت کاربران</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card text-center">
                <div class="card-body py-5">
                    <a href="#" class="nav-link" [routerLink]="['/admin/posts']">مدیریت پست ها</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card text-center">
                <div class="card-body py-5">
                    <a href="#" class="nav-link" [routerLink]="['/admin/logins']">مدیریت ورود ها</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card text-center">
                <div class="card-body py-5">
                    <a href="#" class="nav-link" [routerLink]="['/admin/requests']">مدیریت درخواست ها</a>
                </div>
            </div>
        </div>
    </div>
</div>


